@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #ddd;
	height: 100%;
	width: 100%;
	position: absolute;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 2px;
}

p {
	margin-bottom: 5px;
}