@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: rgb(229 231 235);
    height: 100%;
    width: 100%;
    position: absolute;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
    color: #333;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
    color: #333;
}

p {
    margin-bottom: 5px;
}

.editor-toolbar {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.editor-toolbar p {
    display: inline-block;
}
