.card {
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 1);
	margin: 10%;
	padding: 20px 30px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	max-width: 800px;
}

.something {
	color: red;
}
