.card {
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 1);
	margin: 50px auto 0;
	padding: 20px 30px;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	max-width: 800px;
}

.something {
	color: red;
}
